
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #000 url(/images/bg.jpg);
    background-attachment: fixed;
    background-blend-mode: hard-light;
}
.container
{
position:absolute;
top: 80px;
left: 100px;
right: 100px;
bottom: 80px;
/* background: url(/images/bg.jpg); */
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 50px 50px rgba(0,0,0, 0.5),
            0 0 0 100px rgba(0,0,0, 0.1);
}
.container h1{
    font-size: 698%;
    margin-top: -61px;
    /* color: #131414; */
    color: transparent;
    /* text-shadow: 1px 1px 2px #2bf8ff, 0 0 1em #2bf8ff, 0 0 0.2em #2bf8ff; */
    text-decoration-color: #c70757;
    animation: effect 2s linear infinite;
    
}
@keyframes effect {
    0% {
        background: linear-gradient(
                #008000, #00FF00);
        -webkit-background-clip: text;
    }
    20% {
        background: linear-gradient(
                #83ad10, #c4a705);
        -webkit-background-clip: text;
    }
    40% {
        background: linear-gradient(
                #f00c98, #420736);
        -webkit-background-clip: text;
    }
    60% {
        background: linear-gradient(
                #1f0ad6, #023636);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(
                #3CE7D7, #000FFF);
        -webkit-background-clip: text;
    }
}
.container h2
{
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #333;
    margin-top: -80px;
}

.container h2 span
{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}

.countdown
{
    display: flex;
    margin-top: 50px;
}

.countdown div
{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.countdown div::before
{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #2bf8ff;
    color:#333;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}

.countdown #day::before
{
    content: 'Days';
}

.countdown #hour::before
{
    content: 'Hours';
}

.countdown #minute::before
{
    content: 'Minutes';
}

.countdown #second::before
{
    content: 'Seconds';
}
@media screen and(max-width:255px){
.container{
justify-content: center;
}
    
}